<div
    id="{% if item.id|default and item.id != 'id' and parent.id|default and parent.id != item.id %}{{ 'edit'~item.id~'Modal' }}{% else %}{{ 'add'~type|capitalize~'Modal' }}{% endif %}"
    class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                {% if item.id|default %}
                    <h5 class="modal-title">{{ 'edit'|trans|capitalize~' '~item.name }}</h5>
                {% else %}
                    <h5 class="modal-title">{{ 'add new'|trans|capitalize~' '~type|trans }}</h5>
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {# If making a new create or edit modal u only have to make the form #}
            {% if item|default %}
                {% if parent|default %}
                    {% include 'dashboard_user/modals/forms/'~type~'.html.twig' with {
                        'item': item,
                        'parent': parent
                    } %}
                {% else %}
                    {% include 'dashboard_user/modals/forms/'~type~'.html.twig' with {
                        'item': item
                    } %}
                {% endif %}
            {% else %}
                {% if parent|default %}
                    {% include 'dashboard_user/modals/forms/'~type~'.html.twig' with {
                        'parent': parent
                    } %}
                {% else %}
                    {% include 'dashboard_user/modals/forms/'~type~'.html.twig' %}
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>
