
<section class="section section-lg bg-soft">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
                <h2 class="h1">Challenges</h2>
                <p class="mb-4 lead">9 advanced user dashboard pages</p>
                <p class="mb-4">Rocket not only provides you with the many presentational pages but also comes with a beautiful dashboard that you can use to build the app that your users will use.</p>
                <div class="d-flex justify-content-between mt-lg-4 mb-5">
                    <div>
                        <a href="./bundles/rocket/pages/dashboard/dashboard.html" class="btn btn-primary animate-up-2"><span class="fas fa-chart-line mr-2"></span> Dashboard demo</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="./bundles/rocket/assets/img/presentation-mockup-dashboard.png" alt="Dashboard Preview">
            </div>
        </div>
        <div class="row justify-content-center my-5 mt-lg-6">
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-primary mb-4">
                    <span class="fas fa-pager"></span>
                </div>
                <h3 class="font-weight-bolder">9</h3>
                <p class="text-gray">Dashboard Pages</p>
            </div>
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-primary mb-4">
                    <span class="fas fa-puzzle-piece"></span>
                </div>
                <h3 class="font-weight-bolder">300+</h3>
                <p class="text-gray">Premium Components</p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-primary mb-4">
                    <span class="fab fa-sass"></span>
                </div>
                <h3 class="font-weight-bolder">Workflow</h3>
                <p class="text-gray">Sass & Gulp</p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-primary mb-4">
                    <span class="fas fa-book"></span>
                </div>
                <h3 class="font-weight-bolder">Full</h3>
                <p class="text-gray">Documentation</p>
            </div>
        </div>
    </div>
</section>
