<section class="section section-lg bg-primary">
    <div class="container">
        <div class="row justify-content-center text-center text-white mb-5">
            <div class="col-12">
                <h2 class="h1 font-weight-light mb-3">Less <span class="font-weight-bold">work</span>, more <span class="font-weight-bold">flow</span>.</h2>
                <p class="lead px-lg-8">
                    Boost productivity with BrowserSync. Sass changes are reflected instantly and pages scroll and refresh on devices as you work.
                </p>
            </div>
        </div>
        <div class="row justify-content-center mb-6">
            <div class="col-md-10 col-xl-9">
                <div class="position-relative">
                    <div class="rounded bg-white p-4 text-dark mb-2">
                        <div class="mb-3">
                            <div class="font-weight-normal">&gt; $ npm install</div>
                            <div class="text-secondary">Everything’s installed!</div>
                        </div>
                        <div class="mb-3">
                            <div class="font-weight-normal">&gt; $ gulp</div>
                            <div class="text-secondary">SCSS watching</div>
                            <div class="text-secondary">LiveReload started</div>
                            <div class="text-secondary">Opening localhost:3000</div>
                        </div>
                        <div>
                            <div class="font-weight-normal">&gt; $ that's it?</div>
                            <div class="text-secondary">It's that simple!</div>
                        </div>
                    </div>
                </div>
                <p class="mt-4 text-white text-center">Looks unfamiliar? Don’t worry! Our <a class="text-white text-underline font-weight-bold" href="https://themesberg.com/docs/rocket/getting-started/overview/" target="_blank">documentation</a> has got you covered.</p>
            </div>
        </div>
    </div>
</section>
