
<section class="section section-lg bg-primary text-white">
    <div class="container">
        <div class="row justify-content-center mb-5 mb-lg-6">
            <div class="col-12 text-center">
                <h2 class="h1 px-lg-5">Awesome Features</h2>
                <p class="lead px-lg-8">You get all Bootstrap components fully customized. Besides, you receive numerous plugins out of the box and ready to use.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fab fa-bootstrap"></span></span>
                        <h5 class="font-weight-normal text-primary">Bootstrap</h5>
                        <p>Built with the most popular CSS Framework</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fab fa-sass"></span></span>
                        <h5 class="font-weight-normal text-primary">Sass</h5>
                        <p>Variables and mixins to empower development</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fas fa-mobile-alt"></span></span>
                        <h5 class="font-weight-normal text-primary">Responsive</h5>
                        <p>All pages and components are 100% responsive</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fab fa-gulp"></span></span>
                        <h5 class="font-weight-normal text-primary">Gulp</h5>
                        <p>Gulp & BrowserSync for a flawless workflow</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="far fa-images"></span></span>
                        <h5 class="font-weight-normal text-primary">Creative rights</h5>
                        <p>All images, icons and fonts are licensed & free to use</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="far fa-file-alt"></span></span>
                        <h5 class="font-weight-normal text-primary">Documentation</h5>
                        <p>Everything that comes with Rocket is well documented</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fab fa-accessible-icon"></span></span>
                        <h5 class="font-weight-normal text-primary">WCAG Accessibility</h5>
                        <p>Accessibility oriented design and functionality</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="card bg-white shadow-soft text-primary rounded mb-4">
                    <div class="px-3 px-lg-4 py-5 text-center">
                        <span class="icon icon-lg mb-4"><span class="fab fa-html5"></span></span>
                        <h5 class="font-weight-normal text-primary">W3C Validated</h5>
                        <p>HTML pages are all valid by W3C Standards</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
