
<section class="section section-lg bg-soft">
    <div class="container">
        <div class="row justify-content-between align-items-center mb-5 mb-lg-6">
            <div class="col-lg-5 order-lg-2 mb-5 mb-lg-0">
                <h2 class="h1">Tutorials</h2>
                <p class="mb-4 lead">Beautiful SaaS pages for your online business</p>
                <p class="mb-4">We know how important it is to have a beautiful and useful presentational website. That's why we created multiple landing pages and all the secondary pages that your online business will need.</p>
                <a href="./bundles/rocket/pages/index.html" class="btn btn-secondary animate-up-2 mr-3"><span class="fas fa-laptop mr-2"></span> 27 Front pages demo</a>
            </div>
            <div class="col-lg-6 order-lg-1">
                <img src="./bundles/rocket/assets/img/presentation-mockup-pages.png" alt="Front pages overview">
            </div>
        </div>
        <div class="row justify-content-center mb-7">
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-secondary mb-4">
                    <span class="fas fa-pager"></span>
                </div>
                <h3 class="font-weight-bolder">27</h3>
                <p class="text-gray">Presentational Pages</p>
            </div>
            <div class="col-6 col-md-3 text-center mb-4">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-secondary mb-4">
                    <span class="fas fa-puzzle-piece"></span>
                </div>
                <h3 class="font-weight-bolder">200+</h3>
                <p class="text-gray">Premium Components</p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-secondary mb-4">
                    <span class="fab fa-sass"></span>
                </div>
                <h3 class="font-weight-bolder">Workflow</h3>
                <p class="text-gray">Sass & Gulp</p>
            </div>
            <div class="col-6 col-md-3 text-center">
                <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle icon-secondary mb-4">
                    <span class="fas fa-book"></span>
                </div>
                <h3 class="font-weight-bolder">Full</h3>
                <p class="text-gray">Documentation</p>
            </div>
        </div>
    </div>
</section>
