{% extends "base.html.twig" %}

{% block container %}
<div class="container">
    <section class="row">
        <div class="col-sm-8">
            <a class="backlink"
               href="/{{ application.defaultConfiguration.configuration.bedrijvenPage }}">Terug</a>
            <header class="content__header">
                <h1 style="font-family: 'Lobster', cursive">Challenge plaatsen</h1>
            </header>
        </div>
    </section>

    <div class="row">
        <form method="post" action="{{ path('app_chrc_challenge', {id: challenge.id}) }}">
            <div class="input">
                <label class="input__label" for="name">Naam challenge:</label>
                <input type="text" class="input__control input__control--text" id="name" name="name">
            </div>

            {#        <div class="input">#}
            {#            <label class="input__label" for="description">Beschrijving:</label>#}
            {#            <input type="text" class="input__control input__control--text" id="description" name="description">#}
            {#        </div>#}

            <div class="input">
                <label class="input__label" for="submitters">Aanbieder(s):</label>
                <input type="text" class="input__control input__control--text" id="submitters" name="submitters">
            </div>

            {#        <div class="input">#}
            {#            <label class="input__label" for="file">Voeg hier uw challenge toe:</label>#}
            {#            <input type="file" class="input__control input__control--m input__control--file" id="file" name="file">#}
            {#        </div>#}

            <div class="input">
                <button type="submit" class="btn">Verzenden <i class="icon icon-arr-forward"></i></button>
            </div>
        </form>
    </div>
</div>


{% endblock %}
