<!--

=========================================================
* Rocket - Startup Bootstrap Template
=========================================================

* Product Page: https://themes.getbootstrap.com/product/rocket/
* Copyright 2020 Themesberg (https://www.themesberg.com)
* License (https://themes.getbootstrap.com/licenses/)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Primary Meta Tags -->
    <title>
        {% if application|default %}
            {% if slug is defined and slug is not empty %}
                {{ slug|capitalize }} |
            {% endif %}
            {{ application['name'] }}
        {% elseif app_name|default %}
            {% if slug is defined and slug is not empty %}
                {{ slug|capitalize }} |
            {% endif %}
            {{ app_name|capitalize }}
        {% else %}
            Stage platform
        {% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Conduction - Stage Platform">
    <meta name="author" content="Conduction">
    <meta name="description"
          content="Conduction - Stage Platform">
    <meta name="keywords"
          content="bootstrap, bootstrap template, saas website template, saas bootstrap template, saas bootstrap 4 template, saas bootstrap theme, saas bootstrap 4 theme, dashboard, saas dashboard, themesberg"/>
    <link rel="canonical" href="https://themes.getbootstrap.com/product/rocket/">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://demo.themesberg.com/rocket">
    <meta property="og:title" content="Conduction - Stage Platform">
    <meta property="og:description"
          content="Conduction - Stage Platform">
    <meta property="og:image"
          content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://demo.themesberg.com/rocket">
    <meta property="twitter:title" content="Rocket - Bootstrap Startup Dashboard Template">
    <meta property="twitter:description"
          content="Conduction - Stage Platform">
    <meta property="twitter:image"
          content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/rocket/rocket-preview.jpg">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="/bundles/rocket/assets/img/favicon/conduction.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/bundles/rocket/assets/img/favicon/conduction.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/bundles/rocket/assets/img/favicon/conduction.png">
    <link rel="manifest" href="/bundles/rocket/assets/img/favicon/conduction.png">
    <link rel="mask-icon" href="/bundles/rocket/assets/img/favicon/conduction.png" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/27aca7094d.js" crossorigin="anonymous"></script>

    <!-- Prism -->
    <link type="text/css" href="/bundles/rocket/vendor/prismjs/themes/prism.css" rel="stylesheet">

    <!-- VectorMap -->
    <link rel="stylesheet" href="/bundles/rocket/vendor/jqvmap/dist/jqvmap.min.css">

    <!-- Rocket CSS -->
    <link type="text/css" href="/bundles/rocket/css/rocket.css" rel="stylesheet">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

</head>

<body>
<header class="header-global">
    {% include 'menu.html.twig' %}
</header>

<main>

    <div class="preloader bg-soft flex-column justify-content-center align-items-center">
        <img class="loader-element" src="/bundles/rocket/assets/img/brand/dark.svg" height="50" alt="Rocket logo">
    </div>

    {% block content %}

    {% endblock %}


    {% include 'footer.html.twig' %}

</main>

<!-- Core -->
<script src="/bundles/rocket/vendor/jquery/dist/jquery.min.js"></script>
<script src="/bundles/rocket/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="/bundles/rocket/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bundles/rocket/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="/bundles/rocket/vendor/countup.js/dist/countUp.min.js"></script>
<script src="/bundles/rocket/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="/bundles/rocket/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/bundles/rocket/vendor/prismjs/prism.js"></script>

<!-- Chartist -->
<script src="/bundles/rocket/vendor/chartist/dist/chartist.min.js"></script>
<script src="/bundles/rocket/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

<!-- Vector Maps -->
<script src="/bundles/rocket/vendor/jqvmap/dist/jquery.vmap.min.js"></script>
<script src="/bundles/rocket/vendor/jqvmap/dist/maps/jquery.vmap.world.js"></script>

<!-- Rocket JS -->
<script src="/bundles/rocket/assets/js/rocket.js"></script>

</body>
</html>
