<!doctype html>
<html lang="en">
<head>
    <!-- Primary Meta Tags -->
    <title>academy Stage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fontawesome -->
    <link type="text/css" href="../public/bundles/rocket/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Prism -->
    <link type="text/css" href="../public/bundles/rocket/vendor/prismjs/themes/prism.css" rel="stylesheet">

    <!-- VectorMap -->
    <link rel="stylesheet" href="../public/bundles/rocket/vendor/jqvmap/dist/jqvmap.min.css">

    <!-- Rocket CSS -->
    <link type="text/css" href="../public/bundles/rocket/css/rocket.css" rel="stylesheet">

</head>
<body>

{# lets be able to disable this #}
{% if application['defaultConfiguration']['configuration']['header'] is not defined or (application['defaultConfiguration']['configuration']['header'] is defined and application['defaultConfiguration']['configuration']['header'] == true) %}
    {% include "header.html.twig" %}
{% endif %}

{% include "menu.html.twig" %}
<main>
    {% block container %}

    {% endblock %}

</main>
{% include "footer.html.twig" %}

<!-- Core -->
<script src="../public/bundles/rocket/vendor/jquery/dist/jquery.min.js"></script>
<script src="../public/bundles/rocket/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="../public/bundles/rocket/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../public/bundles/rocket/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="../public/bundles/rocket/vendor/countup.js/dist/countUp.min.js"></script>
<script src="../public/bundles/rocket/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="../public/bundles/rocket/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../public/bundles/rocket/vendor/prismjs/prism.js"></script>

<!-- Chartist -->
<script src="../public/bundles/rocket/vendor/chartist/dist/chartist.min.js"></script>
<script src="../public/bundles/rocket/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

<!-- Vector Maps -->
<script src="../public/bundles/rocket/vendor/jqvmap/dist/jquery.vmap.min.js"></script>
<script src="../public/bundles/rocket/vendor/jqvmap/dist/maps/jquery.vmap.world.js"></script>

<!-- Rocket JS -->
<script src="../public/bundles/rocket/assets/js/rocket.js"></script>

{% block script %}{% endblock %}
</body>
</html>
