<div class="card border-light shadow-sm">
    <div class="card-body">
        <h2 class="h5">{{ 'events'|trans|capitalize }}</h2>
        {% if events is  defined and events|length > 0 %}
            {% for event in events|slice(0, 10) %}
        <div class="d-block">
            <div class="d-flex align-items-center pt-3 mr-5">
                <div class="icon icon-shape icon-sm icon-shape-secondary rounded mr-3"><span class="fas fa-calendar"></span></div>
                <div class="d-block">
                    <label class="mb-0">[[ event.name ]]</label>
                    <h4 class="mb-0">[[ event.date ]]</h4></div>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <div class="card-body text-center">
                <p>{{ 'you havn\'t got any upcomming events'|trans|capitalize }}</p>
            </div>
        {% endif %}
    </div>
</div>
